@model RezerwacjaBoiska.Models.Rezerwacje

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Rezerwacje</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" id="editForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DataRezerwacji" class="control-label"></label>
                <input asp-for="DataRezerwacji" class="form-control" />
                <span asp-validation-for="DataRezerwacji" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GodzinaRozpoczecia" class="control-label"></label>
                <input asp-for="GodzinaRozpoczecia" class="form-control" />
                <span asp-validation-for="GodzinaRozpoczecia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GodzinaZakonczenia" class="control-label"></label>
                <input asp-for="GodzinaZakonczenia" class="form-control" />
                <span asp-validation-for="GodzinaZakonczenia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" asp-items="ViewBag.AvailableStatuses">
                <option value="-1">-- Wybierz status --</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gracze" class="control-label"></label>
                <select asp-for="Gracze" class="form-control" asp-items="ViewBag.GraczeID">
                    <option value="-1">-- Wybierz gracza --</option>
                </select>
                <span asp-validation-for="Gracze" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Boiska" class="control-label"></label>
                <select asp-for="Boiska" class="form-control" asp-items="ViewBag.BoiskaID">
                    <option value="-1">-- Wybierz boisko --</option>
                </select>
                <span asp-validation-for="Boiska" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróc do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        <script>
        $(document).ready(function () {
            $("#editForm").submit(function (e) {
                var godzinaRozpoczecia = $("#GodzinaRozpoczecia").val();
                var godzinaZakonczenia = $("#GodzinaZakonczenia").val();
                var rozpoczecie = new Date("2000-01-01 " + godzinaRozpoczecia);
                var zakonczenie = new Date("2000-01-01 " + godzinaZakonczenia);
                
                if (zakonczenie <= rozpoczecie || Math.abs(zakonczenie - rozpoczecie) < 3600000) {
                    e.preventDefault();
                    alert("Godzina rozpoczęcia musi być wcześniejsza od godziny zakończenia, a różnica między nimi musi wynosić przynajmniej 1 godzinę.");
                }
            });
        });
    </script>
}
